*{
    padding-right: 5px;
   background-color:white;
    box-sizing: border-box;
    width: 300px;
        margin-top: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}



img{
    border-radius: 50px;
}


@media only screen and (max-width : 300px) {
    
}
